@model IEnumerable<Scrum.Models.Sprint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SprintName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjetID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SprintName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjetID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SprintID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SprintID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SprintID })
        </td>
    </tr>
}

</table>
