@model Scrum.Models.Tache

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tache</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.developpeur.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.developpeur.Nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sprint.SprintName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sprint.SprintName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nomTache)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nomTache)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.statusTache)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.statusTache)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.coutTache)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.coutTache)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TacheID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
