@model Scrum.Models.DeveloppeurToEquipe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DeveloppeurToEquipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipe.nomEquipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipe.nomEquipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDeveloppeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDeveloppeur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.developpeurToEqipeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
