@model IEnumerable<Scrum.Models.DeveloppeurToEquipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.equipe.nomEquipe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDeveloppeur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.equipe.nomEquipe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDeveloppeur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.developpeurToEqipeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.developpeurToEqipeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.developpeurToEqipeId })
        </td>
    </tr>
}

</table>
