@model IEnumerable<Scrum.Models.DeveloppeurToEquipe>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.equipe.nomEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDeveloppeur)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.equipe.nomEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDeveloppeur)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.developpeurToEqipeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.developpeurToEqipeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.developpeurToEqipeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
